* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  margin: 0 auto;
  width: 960px;
}
.rij {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.kleinblok {
  width: 300px;
  height: 200px;
  background-color: turquoise;
}
.grootblok {
  width: 620px;
  height: 200px;
  background-color: turquoise;
}
